/*----------------------- PAG: CONTACTO ----------------------*/


/*---- Main ----*/
.mainContacto {
    display: flex;
    flex-wrap: nowrap;    
    justify-content: center;
    
    
    
    
    .divPrincipal {
        width: 80vw;
        height: 84.2vh;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        /*---- Section ----*/

        .section1{
            padding: 20px;
            background-color: $colorMenu1;
            margin: 20px;
            border-radius:8px;
            box-shadow:0 0 40px -10px #000;
            display:flex;
            height: 70vh;
            justify-content: center;
            align-items: center;
        }           
        .section2 {
            background-color: $colorMenu2;
            padding: 20px;
            margin: 20px;
            border-radius:8px;
            box-shadow:0 0 40px -10px #000;    
            display: flex;
            flex-direction: column;
            height: 70vh;
            justify-content: space-around;
            align-items: center; 
            
            
            div{                  
                display: flex;                     
                img{
                    width: 115px;
                    height: 115px;
                    box-shadow:0 0 40px -10px #000;
                    border-radius:12px;
                }
                p{
                    align-self: center;
                    color: $colorLinks ;
                    font-family: $tipografiaTarjeta;                     
                }
            }
        }    
    }        
}


@media (max-width: 862px){
    .mainContacto {
        overflow-y:scroll;
        overflow-x: hidden;
        .divPrincipal{
            grid-template-columns: 1fr;
            width: 100vw;
            
            .section1, .section2{
                margin: 4px;
            }
        }        
    }
}